@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul{
    list-style: none;

}
a{
    text-decoration: none;
    color:#fff;
    
}

html{
    font-family: Raleway;
}

.ham{
    display: none;
}

header{
    width:100%;
    position: fixed;
    /* background-image: linear-gradient(to bottom , rgba(0,0,0,0.23) , rgba(0,0,0,0.74)); */
     /* box-shadow: 0 20px 30px 0 rgba(0,0,0,0.45); */
    padding: 1.3rem 2rem;
    z-index: 400;
    transition: 0.3s ease-in;
}

header.dark{
    background-color: black;
}

header .container{
    
 display:flex;
 justify-content: space-between;
 align-items: center;
}

header .header__left a span{
  color:#ef7215;
  font-weight: bold;
}



header .container ul{
    display:flex;
    justify-content: center;
    align-items: center;
}

header .container ul li{
    margin-right: 60px;
    transition: 0.3s ease-in;

}

header .container ul li a::after{
    content:"";
    display:block;
     width:0%;
     padding-top:7px;
     border-bottom: 2px solid #ef7215;
     transition: 0.3s ease-in;
}

header .container ul li a:hover::after{
    width:100%;
}

header .container ul li:hover{
    font-weight: bold;
}

header .container ul li.active{
    font-weight: bold;
}


header .container ul li.active a::after{
    width:100%;
}


header .container button{
    border:none;
    outline:none;
    background-color: #ef7215;
    color:#fff;
    border-radius:999px;
    padding:0.8rem 1.3rem;
  transition: 0.3s ease-in;
  cursor:pointer;
}

header .container button:hover{
    transform:translateY(-10px);
     box-shadow: 0 20px 30px 0 rgba(0,0,0,0.45);
}

section.banner{
    height:100vh;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image:  linear-gradient(to right , rgba(0,0,0,0.4) , rgba(0,0,0,0.92) ) , url('images/bga.jpg');
    background-position:center/top;
    background-size:cover;
    background-repeat: no-repeat;
    color:#ffff;
    padding: 2rem;
}

.banner .container{
    width:80%;
    margin:auto;
    text-align: center;
}

.banner h4{
    padding-bottom:10px;

}

.banner h1{
    font-size: 70px;
    padding: 10px 0;
    color:#ef7215;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
}


.banner .buttons{
    padding-top: 20px;
}


.banner .buttons button{
    border:none;
    outline:none;
    margin-right: 30px;
    padding:0.8rem 2rem;
    border-radius: 999px;
    cursor:pointer;
}

.banner .buttons button:nth-of-type(1){
    background-color: #ef7215;
    color:#fff;
    transition:  0.3s ease-in;
}

.buttons button:nth-of-type(1):hover{
    transform:translateY(-8px);
}

 .buttons button:nth-of-type(2){
    background-color:transparent;
    border: 3px solid #ef7215;
    color:#fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

 .buttons button:nth-of-type(2) span{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:0%;
    background-color: #ef7215;
    transition: 0.3s ease-in;
    z-index: -1;
    
}


 .buttons button:nth-of-type(2):hover span{
    width:100%;
}

.links{
    position: fixed;
    left:0;
    top:40%;
    display:flex;
    flex-direction: column;

}

.links a {
    padding:10px;
    background-color: #ef7215;
    border-bottom:1px solid rgba(0,0,0,0.4);
    cursor: pointer;
}


.links a i{
    font-size: 24px;
}

   .section{
       padding: 1.5rem;

   }
   .about{
       background-color: #ddd;
   }

      .skills{
          background: #ddd;
      }

      .projects{
          background: #eee;
      }

   .contact{
       background-color: #ddd;
   }
   .moments{
       background-color: #eee;
   }

   .section .container{
         margin:auto;
         width:80%;
   }

    .section h2{
        text-align: center;
    }
     .section h2 span{
         color: #ef7215;
         font-size: 45px;
     }

     .section h2::after{
         content:"";
         margin:auto;
         border-bottom: 3px solid #ef7215;
         width:7%;
         display: block;
         padding-top: 5px;
     }

     .about__container , .contact__container{
         display: flex;
         justify-content: center;
         /* align-items: center; */
         margin: 20px 0;
         padding:1rem;
     }


     .about__container img , .contact__container img{
         width: 500px;
     }

     .about__container .about__left , .contact__container .contact__left{
         margin-right: 20px;
     }

          .contact__right input , .contact__right textarea{
              border:none;
              outline:none;
              padding:0.8rem 1.5rem;
              border:1px solid #ef7215;
              box-shadow: 0 4px 4px 0 rgba(0,0,0,0.14);  
          }

          .contact__right input{
              border-radius: 999px;
            margin-right: 15px;
           
          }

       



          .contact__right textarea{
              width:100%;
              border-radius: 15px;
              margin-bottom: 15px;
          }

          .contact__right .row{
              display: flex;
              justify-content: center;
              align-items: center;
              margin-bottom: 15px;
          }

        .contact  .btn button{
              border:none;
              outline:none;
              width:100%;
              color:#fff;
              background-color: #ef7215;
              padding: 0.8rem 1.5rem;
              border-radius: 6px;
              transition: 0.3s ease-in;
              cursor:pointer;
          }

          .contact .btn button:hover{
               transform: translateY(-5px);
          }

          .hamburger__target{
              opacity: 0;
              transition: 0.4s ease-in;
             visibility: hidden;
             position: fixed;
             top:0;
             left:0;
             height:100vh;
             width:100%;
             
          }

          .hamburger__target .content{
              transform: translate3d(-100% , 0 , 0);
              transition: 0.4s ease-in;
              width:50%;
              height:100%;
              background-color: black;
              display: flex;
              flex-direction: column;
            justify-content: space-evenly;             
              padding: 2rem;
              padding-top: 6rem;
          }

         

          .hamburger__target .content li {
              padding: 1rem;
              border-bottom: 1px solid rgb(49, 46, 46);
              margin-bottom: 15px;
          }

          .hamburger__target .content li a{
              font-size: 20px;
          }
             
          .hamburger__target .content button{
              width:100%;
              padding:0.8rem;
              border:none;
              outline:none;
              color:#fff;
              background-color: #ef7215;
              border-radius: 5px;
              transition: 0.3s ease-in;
              cursor:pointer;
          }

          .hamburger__target .content button:hover{
              transform: translateY(-8px);
          }

        .moments .images__container{
            display:grid;
            grid-template-columns: repeat(6 , 1fr);
            grid-auto-rows: minmax( 150px , auto);
            margin: 20px auto;
            grid-gap:0.5em;
        }

        .moments .box{
            /* background-image: linear-gradient(to bottom , rgba(0,0,0,0.24) , rgba(0,0,0,1)); */
            background-size: cover;
            background-position: center / top;
            padding: 4rem;
            border-radius: 8px ;
            color:#fff;
            position: relative;
            transition: 0.3s ease-in;
            cursor:pointer;
            overflow: hidden;
        }

        



        .box .text{
           display:none;
        }

       

     .moments .box1{
         grid-column: 1 / 3;
         grid-row: 1/3;
         background-image: url('./images/1.jpg');
     }

     .moments .box2{
         grid-column: 3/5;
         grid-row: 1 /4;
         background-image: url("./images/2.jpg");
     }
     
     .moments .box3{
       grid-column: 5 /7;
       background-image: url('./images/3.jpg');
    }
    .moments .box4{
       grid-column:  5 / 7;
       grid-row: 2/4;
       background-image: url('./images/4.jpg');
    }
    .moments .box5{
       grid-column: 1/3;
       background-image: url('./images/5.jpg');
    }

     footer{
         background:black;
         padding:2rem;
        color:#fff;

     }

     footer .container {
         margin:auto;
         width:80%;
     }

          .footer__top{
              display: flex;
              justify-content: space-between;
              /* align-items: center; */
              margin-bottom: 30px;
          }

    footer p{
        color:#fff;
        text-align: center;
    }
    footer .footer__bottom{
        margin-top: 20px;
    }
     
    footer h4{
        margin-bottom: 15px;
    }

    footer h4::after{
        content: "";
        border-bottom: 3px solid #ef7215;
        padding-top: 8px;
        display: block;
        width:30%;
    }

    .pagelinks ul{
        list-style: square;
    }

    .pagelinks ul li {
        padding-bottom:10px;
    }
    .pagelinks ul li a:hover{text-decoration: underline;}
    .newsletter input{
        /* display:block; */
        margin-bottom: 15px;
        padding:0.5rem 1.5rem;
        width:100%;
        border-radius: 4px;
        outline:none;
        border: none;
    }
    .newsletter input[type="submit"]{
          color:#fff;
          background:#ef7215;
    }       

    .socialmedia li {
        padding: 0.5rem 1.5rem;
        background: #ef7215;
        width:100%;
        margin-bottom: 10px;
        border-radius: 3px;
    }
  
    .socialmedia li:first-of-type{
        background:#4267B2;
    }
    .socialmedia li:nth-of-type(2){
        background: #cd486b	;
    }
  .socialmedia li:nth-of-type(3){
      background: #1DA1F2;
  }
   .socialmedia li:nth-of-type(4){
       background: 	#075E54;
   }
 
    .socialmedia li a i{
        margin-right: 5px;
    }

    footer hr{
        border-color:rgb(82, 78, 78);
    }

    .services{
        background-color:#eee;
    }
    .services__container{
        padding: 1.5rem 0;
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
    }


    .services__container .service{
        padding:2rem;
        box-shadow: 0 20px 30px 0 rgba(0,0,0,0.24) , 0 4px 4px 0 rgba(0,0,0,0.1);
        margin: 0 20px 20px 0;
        border-radius: 8px;
          background-color: #fff;
          transition: 0.3s ease-in;
          cursor:pointer;
          width:280px;
    }

    .services__container .service:hover{
        background-color: #ef7215;
        transform: translateY(-7px);
    }

    .services .serviceIcon {
        margin-bottom: 20px;
    }

    .services .serviceIcon i{
        font-size: 50px;
        color:#ef7215;
        transition: 0.3s ease-in;
    }

    .services__container .service:hover .serviceIcon i{
        color:#fff;
    }

    .serviceText h3{
        font-size: 19px;
        padding-bottom: 8px;
        transition: 0.3s ease-in;
    }
    .services__container .service:hover .serviceText h3{color:#fff}
    .serviceText p{
        font-size: 15px;
        color:gray;
        transition: 0.3s ease-in;
    }
    .services__container .service:hover .serviceText p{
        color:#fff;
        font-weight: 300;
    }

 .skills__container{
     padding:2rem;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
 }


 .skills__container .skill  img{
     height:60px;
     width:60px;
     transition: 0.3s ease-in;

 }

 .skill{
     padding:0.5rem;
     text-align: center;
     background: #fff;
     margin: 0 15px 15px 0 ;
     border-radius: 5px;
     transition: 0.3s ease-in;
     cursor:pointer;
 }

 .skill:hover{
     background: #ef7215;
    transform: translateY(-7px);
}

.skill:hover img{
    border-radius: 50%;
}

 .skill p{font-weight: bold;}
 .skill:hover p{color:#fff;
    transition: 0.3s ease-in;
   
}

 

  .skill .skill__bottom{padding:0.8rem;}
 .skill .skill__top{
    padding:1.5rem;
     padding-bottom: 10px;
     border-bottom: 1px solid rgba(0,0,0,0.14);

 }

 .skill:hover .skill__top{
     border-color: #fff;
    }


    .projects__container{
        padding: 2rem;
       display: flex;
       flex-wrap: wrap;
       /* justify-content: center; */
       align-items: center;
    }


   .projects .project{
       width:250px;
       height:250px;
       margin:0 15px 15px 0;
       position: relative;
       cursor:pointer;
       overflow: hidden;
   }

   .project::after {
       content:"";
       position: absolute;
       width:100%;
       height:100%;
       top:0;
       left:0;
       transition: 0.3s ease-in;
    background: linear-gradient(to bottom , rgba(0,0,0,0.45) , rgba(0,0,0,0.95));

     transform:scale(0);
   }

   .project:hover::after{
          transform:scale(1);
   }

    .projects .project img{
        width:100%;
        height:100%;
        transition: 0.3s ease-in;
    }

    .project:hover img{
        transform:scale(1.2);
    }
    .project .projectName{
         position: absolute;
         top:30%;
         left:10px;
         padding:20px;
         transition: 0.3s ease-in;
         opacity:0;
         z-index: 20;
    }

    .project:hover .projectName{opacity:1;}

    .projectName h4 {
        color:#ef7215;
        padding-bottom:5px;
        margin-bottom: 10px;
        border-bottom: 1px solid rgb(121, 114, 114);
    }

    .projectName p{
        font-size: 15px;
        color:#fff;
    }

    .projectName button{
        margin-top: 10px;
        padding:0.4rem;
        font-size: 12px;
        border: none;
        outline:none;
        background: #ef7215;
        border-radius:2px;
        color:#fff;
    }

    .arrow__up{
           position: fixed;
           right:30px;
           bottom:30px;
             width:40px;
             height:40px;
             display: flex;
             justify-content: center;
             align-items: center;
           background: #ef7215;
           border-radius: 50%;
           transition: 0.3s ease-in;
           transform:scale(0);
    }

     .arrow__up.show{
         transform:scale(1);
     }


@media(max-width:600px){
    
  .projects .project {
      /* width:400px !important; */
  }


   .services__container{
       flex-direction: column;
       
   }

   .service{
       margin: 10px auto;
   }


    .moments .images__container{
        display: block;
    }

    .moments .box{
        height:250px;
        margin-bottom: 15px;
    }

    .moments .box{
        border-radius: 0;
    }


    footer{padding:3rem;}
   .footer__top{
       flex-direction: column;
   }

   .pagelinks , .newsletter , .socialmedia{
       margin-bottom: 30px;
   }


    .links{
         display: none;
     }

  .banner button{
         display: block;
         margin-bottom: 15px;
         width:100%;
         transition: none !important;
         border-radius: 10px !important;
         background-color: transparent !important;
         border: 2px solid #ef7215 !important;
         z-index: 0 !important;
  }

     .banner button:hover{
         transform:translateY(0) !important;
     }

     .banner button span {
         display: none;
     }
        .about__container , .contact__container{
            flex-direction: column;
        }

        .about__container img , .contact__container img{
            width: 100%;
        }
   


  .header__center , .header__right{
      display:none;
  }

    html{
        font-size: 82.5%;
    }

    .banner .container{
        width:90%;
    }

    .banner h1{
        font-size: 50px;
    }

    .buttons button{
        padding:0.8rem 1.5rem;
        border-radius: 999px;
        cursor:pointer;
    }

    
.ham{
    display:block;
    padding:0.6rem;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ef7215;
    height: 32px;
    cursor:pointer;
    
}

  .ham i{
      color:#fff;
      font-size: 20px;
        transition: 0.3s ease-out;
    }

    .row{
    flex-direction: column;
    margin: 0 !important;
    }

    .contact__right{
        margin-top: 20px;
    }

    .contact input{
        width:100%;
        margin-bottom: 15px;
    }
        .contact__right .form__group{
            width:100%;
        }

        .hamburger__target.open{
            visibility: visible;    
            background-color:rgba(0,0,0,0.65);
            opacity: 1;
            z-index:200;
        }


        .hamburger__target .content.open{
           transform: translate3d(0,0,0);
        }

        .hamlinks{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 40px;
        }

        .hamlinks a{
            padding: 0.6rem;
            background-color: #ef7215;
             border-radius: 3px;
             transition: 0.3s ease-in;
        }

        .hamlinks a:hover{
            transform: translateY(-6px);
        }

        .hamlinks a i{
            font-size: 16px;
        }
}



@media(max-width:450px){
    .hamburger__target .content{
        width:70%;
    }
}


@media(max-width:360px){
    html{
        font-size: 72.5%;
    }

    .banner h1{
        font-size: 45px;
    }
}